.exam-container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  background: white !important;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 30px;
}

.exam-title {
  text-align: center;
  margin-bottom: 20px;
}

.exam-title-input {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 10px;
  border-radius: 5px;
}
.exam-title-input [type='text'] {
  width: 23%;
  font-size: 17px;
  margin-right: 10px;
}

.exam-field {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.Qcorrect-answer {
  color: green;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 70px;
  margin-left: 50px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save-btn {
  background: #4caf50;
  color: white;
}

.cancel-btn {
  background: #ffc107;
  color: white;
}

.edit-btn {
  background: #2196f3;
  color: white;
}

.delete-btn {
  background: #f44336;
  color: white;
}

.back-btn {
  background: gray;
  color: white;
}

.exam-field input {
  width: 80%;
  margin-right: 10px;
  font-size: 17px;
}

.exam-time,
.exam-profname {
  margin-right: 30px;
}

.exam-starttime {
  margin-left: 30px;
}

.exam-info {
  border-radius: 10px;
}

.Qtitle {
  display: flex;
  gap: 10px;
  font-size: 17px;
  align-items: center;
}

.Qnumber {
  font-size: 25px;
}

.Qtitle textarea {
  margin-left: 10px;
  max-width: 450px; /* 원하는 최대 너비 설정 */
  min-width: 450px; /* 최소 너비 설정 */
  padding: 8px; /* 내부 여백 추가 */
  font-size: 16px; /* 글자 크기 조정 */
  resize: none; /* 크기 조절 비활성화 (선택 사항) */
}

.Qtext {
  white-space: pre-wrap;
}

.Qtext {
  margin-left: 55px;
  max-width: 450px; /* 원하는 최대 너비 설정 */
  min-width: 450px; /* 최소 너비 설정 */
  font-size: 16px; /* 글자 크기 조정 */
  resize: none; /* 크기 조절 비활성화 (선택 사항) */
}

.Qoption input[type='text'] {
  width: 88%; /* 가로 전체 차지 */
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 350px; /* 원하는 최대 너비 설정 */
  min-width: 350px; /* 최소 너비 설정 */
}

.Qradio {
  max-width: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}