.exam-info-field {
    font-size: 17px;
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    justify-content: space-between;
    background: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .exam-info-field span {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .exam-status {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  .status-box {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .status-box strong {
    display: block;
    font-size: 22px;
    color: #333;
    margin-top: 5px;
  }
  
  .question-number {
    margin-top: 0px;
  }
  
  .question-title {
    margin-top: 8px;
  }