/* 문제의 상단에 점수를 표시할 스타일 */
.question-header {
  display: flex;
  font-size: 20px;
  background-color: #f9f9f9;
  border-bottom: #f9f9f9;
  position: relative;
  justify-content: space-between;
}

.score {
  margin-top: -20px;
  font-weight: bold;
  font-size: 20px;
  padding: 3px 8px;
  border-radius: 5px;
}
.score.incorrect {
  color: rgb(162, 161, 161);
}

.question-title-2 {
  margin-left: 70px;
  position: absolute;
}

.question-text {
  margin-bottom: 30px;
  margin-left: 70px;
  font-size: 17px;
  white-space: pre-wrap; /* 줄바꿈과 공백을 그대로 유지하면서 화면 크기에 맞게 자동으로 줄바꿈 */
}

.result-text {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 70px;
}

.option {
  margin-left: 70px;
}

.exam-container {
  background: #f9f9f9;
}

.result-summary div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
}

.result-summary span {
  font-size: 12px;
  color: #666;
}

.result-summary strong {
  font-size: 18px;
  font-weight: bold;
}

/* ✅ 점수와 수료 여부 사이에 세로 구분선 (박스 중앙 정렬) */
.result-summary div:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -25px; /* ✅ 세로선을 중앙으로 맞추기 위해 조정 */
  top: 50%;
  transform: translateY(-50%);
  height: 50px; /* ✅ 세로선 길이 조정 */
  width: 1px;
  background-color: #ccc;
}

.exam-info-field {
  position: relative; /* 기준이 되는 부모 요소 */
  font-size: 17px;
  padding: 30px;
  height: 230px; /* 고정된 세로 길이 */
  background: white;
}

.result-summary {
  position: absolute;
  top: 10px; /* 부모의 위쪽에서 50px */
  right: 100px; /* 부모의 왼쪽에서 100px */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: rgba(237, 239, 242, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #edeff2;
  text-align: center;
  width: 150px;
}

.answer-container {
  position: absolute;
  top: 90px; /* 부모의 위쪽에서 50px */
  right: 30px; /* 부모의 왼쪽에서 100px */
  flex-direction: column;
  width: 40%;
  padding: 10px;
  padding-bottom: 0px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 170px;
}

.timer-header {
  margin-left: 30px;
  gap: 70px;
  display: flex;
  align-items: center;
}

.timer {
  margin-left: 10px;
  font-size: 23px;
  padding-top: 0px;
  color: #555;
}

.getAnsweredCount {
  font-size: 14px;
  color: #555;
  background: #f9f9f9;
}

.answer-preview {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 한 줄에 3개씩 */
  justify-content: center; /* 중앙 정렬 */
  gap: 10px;
}

.answer-item {
  gap: 10px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9edf2;
  border-radius: 20px;
  font-size: 10px;
  text-align: center; /* 중앙 정렬 */
}